<app-cockpit
  (serverCreated)='onServerAdded($event)'
  (blueprintCreated)='onBluepringAdded($event)'
></app-cockpit>

<div class="panel panel-default">
    <app-server *ngFor="let server of servers"
      [server]='server'
    ></app-server>
</div>
